.header {
    padding: 7px 20px 0 20px;
}
.header .languages a {
    font-weight: bold;
}
.mainMenu li a:hover {
    text-shadow: 0 0 20px #feb300;
}

h1 {
    padding-top: 2rem;
    padding-bottom: 1rem;
    font-size: 3rem;
}
.categoriesList {
    font-size: 1.2rem;
}
.categoriesList ul {
    margin-top: 0px;
    font-size: 0.9rem;
}
.categoriesList > li > span, .categoriesList > li > a, .categoriesList > li > b {
    font-family: 'Moyenage';
}
.categoriesList > li > b {
    /* font-family: 'PaladinPCRus Medium';*/
    font-weight: normal;
    font-size: 2rem;
    position: relative;
    left: -15px;
    color: #8d120d;
}
.categoriesList > li > a {
    color: #e2c56a;
}
.categoriesList > li > a:hover {
    color: #a8934f;
}
.pagination span a, .pagination .current {
    padding: 0 6px 3px 6px;
}

.textBlock h2, .textBlock h3 {
    padding-top: 10px;
    padding-bottom: 10px;
}
/*
.textBlock ul {
    margin: 0 0 0 10px;
    padding: 0 0 20px 0;
}
*/
.textBlock ul {
    margin-top: -15px;
}
.textBlock ul > li {
    padding: 3px 0px 0px 20px;
}
.footer .centerMenus .smallMenu {
    font-size: 17px;
    font-family: 'Moyenage';
}
.footer .centerMenus .smallMenu.subMenu {
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}